<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>IntroSE20CLC3_Group11</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <link href="css/styles.css" rel="stylesheet" />
    <style>
        * {box-sizing: border-box}
        body{
            font-family: 'Noto Sans JP', sans-serif;
            background: #FEEEDF;
        }
        h2, label{
            color: DodgerBlue;
        }
        input[type=text], input[type=password], input[type=email], input[type=date], input[type=phoneNumber]{
            width: 100%;
            padding: 15px;
            margin: 5px 0 22px 0;
            display: inline-block;
            border: none;
            width:100%;
            resize: vertical;
            padding:15px;
            border-radius:15px;
            border:0;
            box-shadow:4px 4px 10px rgba(0,0,0,0.2);
        }
        input[type=text]:focus, input[type=password]:focus {
            outline: none;
        }
        button {
            background-color: #FA8D40;
            color: white;
            padding: 14px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
            width: 100%;
            opacity: 0.9;
        }
        button:hover {
            opacity:1;
        }
        .signupbtn {
            float: left;
            width: 100%;
            border-radius:15px;
            border:0;
            box-shadow:4px 4px 10px rgba(0,0,0,0.2);
        }
        .container {
            padding: 16px;
        }
        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
    </style>
</head>

<body>
    <%- include('../partials/header') %>
    <div class="row" style="width: 100%">
        <div class="col-2">
            <img src="/home/assets/img/background/ruy_bang.png" width="180px">
            <img src="/home/assets/img/background/con_meo.png" width="180px">
        </div>
        <div class="col-8">
            <div class="container">
                <%if(type === "create") { %>
                <h2>Create account</h2>
                <% } else { %>
                <h2>Edit account</h2>
                <% } %>
                <form class="form-horizontal" role="form" method="post" action=<%= type === "create" ? '/admin/manage_account/create' : '/admin/manage_account/edit/' + user._id%>>
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="firstName" class="control-label">First Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="firstName" placeholder="First Name" class="form-control" autofocus name="firstName" required value="<%=user.firstName%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="lastName" class="control-label">Last Name</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="lastName" placeholder="Last Name" class="form-control" autofocus name="lastName" required value="<%=user.lastName%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="email" class="control-label">Email</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="email" id="email" placeholder="Email" class="form-control" name="email" required value="<%=user.email%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="password" class="control-label">Password</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" id="password" placeholder="Password" class="form-control" name="password" required onchange="validatePassword()" value="<%=user.password%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="password" class="control-label">Confirm Password</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="password" id="confirmPassword" placeholder="Password" class="form-control" name="confirmPassword" required onkeyup="validatePassword()" value="<%=user.password%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="birthDate" class="control-label">Date of Birth</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="date" id="birthDate" class="form-control" name="dateOfBirth" value="<%=user.dateOfBirth%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="phoneNumber" class="control-label">Phone number </label>
                            </div>
                            <div class="col-sm-9">
                                <input type="phoneNumber" id="phoneNumber" placeholder="Phone number" class="form-control" name="phoneNumber" value="<%=user.phoneNumber%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label for="userIdInHospital" class="control-label">User ID in Hospital</label>
                            </div>
                            <div class="col-sm-9">
                                <input type="text" id="userIdInHospital" placeholder="User ID" class="form-control" name="userIdInHospital" value="<%=user.userIdInHospital%>">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Role</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" id="Doctor" value="Doctor" name="role" required <%= user.role ? 'checked' : '' %>>Doctor
                                        </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" id="Patient" value="Patient" name="role" <%= user.role ? 'checked' : '' %>>Patient
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-3">
                                <label class="control-label">Gender</label>
                            </div>
                            <div class="col-sm-9">
                                <div class="row">
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" id="femaleRadio" value="Female" name="gender" required <%= user.gender ? 'checked' : '' %>>Female
                                        </label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" id="maleRadio" value="Male" name="gender" <%= user.gender ? 'checked' : '' %>>Male
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">
                        <button type="submit" class="signupbtn">Save</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-2">
            <img src="/home/assets/img/background/long_den.png" width="180px" align="right">
            <img src="/home/assets/img/background/con_meo.png" width="180px" align="right">

        </div>
    </div>

    <%- include('../partials/footer') %>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
    <script>
        function validatePassword(){
            var password = document.getElementById("password")
                , confirmPassword = document.getElementById("confirmPassword");
            if(password.value != confirmPassword.value) {
                confirmPassword.setCustomValidity("Passwords Don't Match");
                confirmPassword.reportValidity();
            }
            else {
                confirmPassword.setCustomValidity("");
            }
        }
    </script>
</body>
</html>
