<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>IntroSE20CLC3_Group11</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
  <link href="css/styles.css" rel="stylesheet" />
  <style>
    * {box-sizing: border-box}
    body{
      font-family: 'Noto Sans JP', sans-serif;
      background: #FEEEDF;
    }
    h2, label{
      color: DodgerBlue;
    }
    input[type=text], select{
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      width:100%;
      resize: vertical;
      padding:15px;
      border-radius:15px;
      border:0;
      box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    }
    input[type=text]:focus, input[type=password]:focus {
      outline: none;
    }
    button {
      background-color: #FA8D40;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      cursor: pointer;
      width: 100%;
      opacity: 0.9;
    }
    button:hover {
      opacity:1;
    }
    .savePres, .addDrug {
      float: left;
      width: 2cm;
      border-radius:15px;
      border:0;
      box-shadow:4px 4px 10px rgba(0,0,0,0.2);
    }
  </style>
</head>
<body>
  <%- include('../partials/header') %>
  <div class="container" style="min-height: 100vh">
    <div class="card-header">
      <h2>Appointment with doctor</h2>
    </div>
    <table>
      <thead>
      <tr>
        <th>Drug name</th>
        <th>Dosage</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          <select class="form-select" name="drug" id="drug" required>
            <% drugs.forEach(drug => { %>
              <option value="<%= drug._id %>"><%= drug.name %></option>
            <% }) %>
          </select>
          </select>
        </td>
        <td>
          <input class="form-control mr-sm-2" type="text" id="dosage"/>
        </td>
        <td>
          <button class="addDrug" onclick="addDrug()">Add</button>
        </td>
      </tr>
      </tbody>
    </table>
      <table width="1000px">
        <thead>
        <tr>
          <th>Drug name</th>
          <th>Dosage</th>
          <th></th>
        </tr>
        </thead>
        <tbody id="drugTable">
        </tbody>
      </table>
      <input class="form-control mr-sm-mt-2" type="text" id="note" placeholder="Note..."/>
    <div class="clearfix">
      <button class="savePres" onclick="savePrescription()">Save</button>
    </div>
  </div>

  <%- include('../partials/footer') %>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
  <script>
    let listDrug = [];
    function addDrug() {
      let drugHTML = document.getElementById("drug");
      let drugId = drugHTML.value;
      let drugName = drugHTML.options[drugHTML.selectedIndex].text;
      let dosageHTML = document.getElementById("dosage");
      let dosage = dosageHTML.value;
      if(!dosage || dosage === "") {
        dosageHTML.setCustomValidity("Passwords Don't Match");
        dosageHTML.reportValidity();
        return;
      }
      else {
        dosageHTML.setCustomValidity("");
      }
      listDrug.push({
        drugId: drugId,
        dosage: dosage,
      })
      console.log(drugId + ", " + drugName + "," + dosage + "," + note)
      let drugTableHTML = document.getElementById("drugTable");
      let trHTML = document.createElement("tr");
      trHTML.setAttribute("name", "drugId[]");
      trHTML.setAttribute("value", drugId);
      let tdHTML;
      tdHTML = document.createElement("td");
      tdHTML.appendChild(document.createTextNode(drugName));
      trHTML.appendChild(tdHTML);

      tdHTML = document.createElement("td");
      tdHTML.appendChild(document.createTextNode(dosage));
      trHTML.appendChild(tdHTML);

      drugTableHTML.appendChild(trHTML);
    }

    function savePrescription() {
      fetch("/prescription/add/<%=patientId%>", {
        method: "POST",
        headers: {'Content-Type': 'application/json'},
        body: JSON.stringify({
          listDrug: listDrug,
          note: getNote()
        })
      }).then(async res => {
        const data = await res.json();
        console.log("Request complete! response:", data);
        if(data.state == "success")
          window.location.replace(data.path);
        else if(data.state == "fail"){
          document.open();
          document.write(data.text);
          document.close();
        }
      });
    }

    function getNote(){
      let noteHTML = document.getElementById("note");
      if(noteHTML)
        return noteHTML.value;
      return null;
    }
  </script>
</body>
</html>
